//? AddUser page styles
.search-user{
  @include width-hight-setter();
  @include flexBox(center,center,0.3rem,column);
    background-color: $primary-background-color;
    > input{
      @include width-hight-setter(95%,auto,0.5rem 0);
      margin-top: 0.5rem;
      background: $secondary-background-color;
      color: $primary-text-color;
      border: none;
      outline: none;
      font-size: 0.9rem;
    }
  > .searched-user{
    @include width-hight-setter(100%,87vh);
    overflow-y: auto;
    > h3{
      margin: 1rem 0.5rem; 
      @include logoHeader(auto,auto,#f9f8f8,#505050);
    }
    > .user{
      @include width-hight-setter(100%,auto);
      @include userListStyles();
    }
  }
  }
  
  .request-Button{
   > h5{
    @include width-hight-setter(100px,auto,0.5rem);
    background-color: $secondary-background-color;
    border-radius: 5px;
   }
   > p{
    @include width-hight-setter(150px,auto,0.3rem 0);
    font-size: 0.9rem;
    background-color:rgb(171, 255, 44);
    text-align: center;
    border-radius: 5px;
   }
    > button{
      @include button(0.5rem 2.5rem,5px);
      margin: 0.3rem 0;
      font-size: 0.7rem;
      font-weight: 500;
    }
  }
  