@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import "mixins.scss";
@import "colors.scss";
@import "introScreen.scss";
@import "navbar.scss";
@import "form.scss";
@import "home.scss";
@import "loading.scss";
@import "friendRequest.scss";
@import "profile.scss";
@import "addUser.scss";
@import "mediaQuery.scss";
@import "errorPage.scss";

*{
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}

body{
  ::-webkit-scrollbar{
    display: none;
  }
}

a{
 text-decoration: none;
 color: $primary-text-color;
 font-size: 0.8rem;
 font-weight: 400;
}


.App{
  @include width-hight-setter(100vw,100vh);
  background-color: $primary-background-color;
  color: $primary-text-color; 
  overflow-y: auto;
}
