.error_page{
    @include width-hight-setter(100%,93%);
    > div{
        padding: 1rem;
     > h1{
        color: rgb(213, 35, 35);
        >svg{
            color:#FFCC70;
        }
        margin-bottom: 0.5rem;
     }
     > button{
        @include button();
        margin-top: 0.5rem;
        font-weight: 400;
        border-radius: 5px;
     }
    }
}