//? friend request page Styles 
.friend-list{
    @include width-hight-setter(100%,93%);
    @include flexBox(none,none,0.3rem,column);
    > .friend-requests{
      @include width-hight-setter(100%,10%);
      @include flexBox(center,space-between);
      > .user-details{
        padding: 0 0.3rem;
        @include flexBox(center,space-between,1rem);
        > img{
          @include width-hight-setter(50px,50px);
          border-radius: 50%;
        }
      }
      > .btn{
        padding: 0 0.5rem;
        > button{
          @include button(0.5rem 2rem,5px);
          margin: 0 0.3rem;
          font-size: 0.8rem;
          font-weight: 500;
        }
      }
    }
  }
  
  .request{
    @include width-hight-setter(100%,93%);
    @include gridBox(1fr 3fr,0.3rem);
    color: $primary-text-color;  
    background-color: $secondary-background-color;
    @include scrollBar();
  }
  
  
  