//? Home Page styles

//!Intro page
.Starting-page{
    @include width-hight-setter(100%,92%);
    @include flexBox();
    overflow-y: none;
    @include scrollBar();
    > .container{
        @include flexBox(center,center,3rem,column);
        > div{
          @include flexBox(center,none,1rem,column);
          > .logo{
            width: 200px;
            animation: Rotation infinite 10s linear;
            @keyframes Rotation {
              from{
                transform: rotate(0deg);
              }
              to{
                transform: rotate(360deg);
              }
            }
          }
          > h1{
            @include logoHeader();
          }
          > button{
          @include button();
          }
        }
     }  
  }
  
  //! main page 
  .home{
    @include width-hight-setter(100%,93%);
    color: $primary-text-color;
    @include gridBox(1fr 3fr,0.3rem);
    background-color: $secondary-background-color;
    @include scrollBar();
    > .users-container{
      @include width-hight-setter();
      background-color: $primary-background-color;
      text-align: center;
      overflow-y: auto;
      .add-user{
        @include width-hight-setter(95%,90%);
        @include flexBox(center,center,column);
        > div{
          text-align: center;
          >svg{
            font-size: 100px;
          }
          >h2{
            @include logoHeader(none,none,#f9f8f8,#505050);
            margin: 1rem 0; 
          }
        }
      }
      >  .user{
        @include width-hight-setter(100%,auto);
        @include userListStyles();
      }
      .selected-user{
        background-color: rgb(59, 59, 59);
      }    
      > button{
        @include button(0.5rem,5px);
        margin: 0.3rem 0;
        font-size: 0.7rem;
        font-weight: 500;
      }
    }
    > .message-body{
      @include width-hight-setter();
      background-color: $primary-background-color;
      > .message-user{
        @include width-hight-setter(100%,8%);
        @include flexBox(center,none);
        @include backgoundColor_and_image();
          > svg{
            display: none;
          }
          > a{
            padding-left: 1rem;
            padding-right: 0.5rem;
            > img{
              @include width-hight-setter(50px,50px);
              object-fit: cover;
              border-radius: 50%;
            }
          }
      }
       > .messages{
        @include width-hight-setter(100%,77vh);
        @include scrollBar();
        overflow-y: scroll;
        >.message-wrapper{
            margin-top: 10px;
            padding:0 5px;
            > div{
              min-width: 4em;
              color: $primary-text-color;
              padding:0.4rem 0.4rem;
              display: inline-block;
              max-width: 50%;
              text-align: center;
              border-radius: 5px;
              > .loading{
                @include width-hight-setter(200px,200px);
              }
              > img{
              @include width-hight-setter();
              object-fit: cover;
              border-radius: 5px;
              }
              > div{
                @include flexBox(left,none,0rem,column);
                > p{
                  text-align: left;
                  margin-right: 0.8rem;
                }
                > time{
                  font-size: 0.7rem;
                  text-align: right;
                }
              }
            }
          }
        }
        > .message-form{
          @include width-hight-setter(100%,7%,0.5rem 0);
          @include flexBox(center,center,1rem);
          > label{
            display: flex;
            > svg{
              font-size: 1.3rem;
              padding: 0.5rem 0.3rem;
              &:hover{
                color: blue;
              }
            }
          }
          > .input-box{
            @include width-hight-setter(50%,50%);
            > input{
              @include width-hight-setter(100%,auto,0.6rem 0.2rem);
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              border: none;
            }
          }
          > .button{
            height: 50%;
            > button{
              padding: 0.5rem;
              color: white;
              background-color: blue;
              border: none;
              outline: none;
              border-radius: 5px;
            }
          }
        }
    }
  }
  

  
  .mine{
    text-align: right;
  }
  
  .myself{
    @include backgoundColor_and_image();
  }
  
  .other{
    @include backgoundColor_and_image(100deg,0%,66%,100%);
  }
  
  .animation{
    @include width-hight-setter();
    @include flexBox(center,center,0rem,column);
    background-color: $primary-background-color;
    > img{
      @include width-hight-setter(300px,300px);
      &:hover{
        animation: Rotation infinite 10s linear;
      }
    }
    &:hover > h1{
      background: -webkit-linear-gradient(#4158D0 0%, #C850C0 46%, #FFCC70 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    @keyframes Rotation {
      from{
        transform: rotate(0deg);
      }
      to{
        transform: rotate(360deg);
      }
    }
  }
  
  .seletedImg{
    @include width-hight-setter(30px,30px);
    display: block;
    border-radius: 50%;
    border: 3px solid greenyellow;
  }
  
  .unseletedImg{
    display: none;
  }
  
  
  
  .unread{
    color: $primary-text-color;
    @include width-hight-setter(100%,23px);
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .read{
    color: gray;
    width: 15em;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  