.initial_screen{
    position:  absolute;
    top: 0;
    @include width-hight-setter();
    @include flexBox(center,center,0rem,column);
    background-color: $primary-background-color;
    > div{
      @include flexBox(center,center,1rem,column);
      > img{
        @include width-hight-setter(250px,250px);
      }
      > h1{
        @include logoHeader();
      }
      > p{
        font-size: 0.7rem;
        color: gray;
      }
    }
}