//? Media Queries 
@media(max-width:1250px){
  .home{
    position: relative;
    grid-template-columns: 1.5fr 3fr;
  }

  .read{
    width: 12em;
  }
  
  .unread{
    width: 12em;
  }
}


@media(max-width:850px){
.read{
    width: 10em;
  }
  
  .unread{
    width: 10em;
  }

}

@media(max-width:670px){
  .signUp-contanier{
    > form{
      width: 100%;
    }
  }

  .navbar{
    > h1{
      > a{
        font-size: 1.5rem;
      }
    }
  }
  .home{
    position: relative;
    grid-template-columns: 1fr;
    > .user-container{
      > .user-details{
        > img{
          @include width-hight-setter(50px,50px);
        }
      }
    }
    >.message-body{
      position: absolute;
      left: 0;
      >.message-user{
        > svg{
          display: block;
          margin-left: 0.5rem;
          font-weight: bold;
        }
        > a{
         > img{
          @include width-hight-setter(40px,40px);
         }
        }
      }
      > .message-form {
        .input-box{
          @include width-hight-setter(70%,auto);
        }
        .button{
          height: auto;
        }
      }
    }
  }


  .close{
    display: none;
  }
  .open{
    display: block;
  }

  .request{
    grid-template-columns: 1fr;
  }

  .animation{
    display: none;
  }

  .container{
    width: 100%;
  }

  .seletedImg{
    display: block;
    @include width-hight-setter(20px,20px);
    border-radius: 50%;
    border: 3px solid greenyellow;
  }
  .btn{
    button{
      padding: 0.5rem 1rem;
    }
  }

  .profile-body{
   > .profile-container{
      width: 80%;
      @include flexBox(center,center,0rem,column);
    }
  }

  .friend-list{
    >.friend-requests{
      padding: 0.5rem;
      @include flexBox(flex-start,center,1rem,column);
      flex-direction: column;
      align-items:start;
      gap: 1rem;
    }
  }

  .read{
    width: 15em;
  }
  
  .unread{
    width: 15em;
  }
   
}