//? NavBar Style
.navbar{
    @include width-hight-setter(100%,7%);
    background-color: $secondary-background-color;
    @include flexBox(center,space-between);
    > h1{
      @include logoHeader(none,700,#f9f8f8,#505050);
      margin-left: 0.5rem;
      &:hover{
        background: -webkit-linear-gradient(#4158D0 0%, #C850C0 46%, #FFCC70 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      > a{
        font-size: 2rem;
      }
    }
    > ul{
      @include flexBox(center,none,1rem);
      padding-right: 0.5rem;
      > button{
        @include button();
        font-size: 0.8rem;
        font-weight: 400;
      }
      > a{
        > svg{
          position: relative;
          font-size: 1.2rem;
          color: gold;
        }
      }
    }
  }
  
  .noti{
    position: absolute;
    top: 15px;
    right: 10px;
    @include width-hight-setter(8px,8px);
    border-radius: 50%;
    background-color: red;
  }
  